body {
    --main-color: lightblue;
    --main-border-color: blue;

    --secondary-color: teal;
    --secondary-border-color: steelblue;

    --evidenced: #7091de;

    overflow: hidden;
    background-color: var(--main-color);
}

.body-text-style {
    font-family: 'Montserrat';
    font-weight: 300;
}

.main-text-style {
    font-family: 'Montserrat';
    font-weight: 400;
}

.primary-color {
    border: 2px solid var(--main-border-color);
    background-color: var(--main-color);
}

.secondary-color {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-border-color);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-border-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a {
    text-decoration: none;
    color: black;
}

#main-menu {
    left: 0;
    border-right: 10px solid var(--secondary-border-color);
}

#main-menu .current {
    background-color: var(--secondary-border-color);
}

.side-menu {
    position: absolute;
    top: 0;
    height: 100%;
    width: 10px;
    background-color: var(--secondary-color);
    transition: 0.1s linear;
    padding-left: 10px;
    padding-top: 20px;
}

.side-menu * {
    opacity: 0;
    transition: 0.1s ease-out;
    margin-top: 5px;
}

.side-menu:hover {
    width: 10vw;
}

.side-menu:hover * {
    opacity: 1;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin: 1%;
    width: 18%;
    height: 30vh;
    border-radius: 5px;
    transition: 0.1s linear;
    background-color: #fff;
}

.list {
    width: 100%;
    height: 5vh;
    margin: 0.2%;
}

.tile:hover {
    border-radius: 20px;
    background-color: #ddd;
}

.playlist{
    width: 100%;
    margin-top: 1vh;
}