.container {
    flex-direction: column;
    justify-content: space-evenly;
}

#search-area {
    display: flex;
}

#search-bar {
    height: 5vh;
    font-size: 3.5vh;
    border-radius: 5px;
    padding-left: 1.5vw;
    border: none;
    outline: none;
}

#result-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 90%;
    border-radius: 10px;
    overflow: auto;
}

.result {
    width: 95%;
    height: 5vh;
    background-color: var(--secondary-color);
    margin-top: 5px;
    border-radius: 10px;
}